/* Firefox */
html {scrollbar-width: 3px; scrollbar-color: #222 #f1f1f1;}
/* Opera */
html::-o-scrollbar {width: 3px;}/*스크롤바 크기*/
html::-o-scrollbar-thumb {background-color: #222; border-radius: 1.5px;}/*스크롤 드래그바*/
html::-o-scrollbar-thumb:hover {background-color: #555;}
/* Chrome, Safari, Edge 등 웹킷 기반 브라우저 */
::-webkit-scrollbar {width: 3px;}/*스크롤바 크기*/
::-webkit-scrollbar-track {box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.3);}/*스크롤바 배경*/
::-webkit-scrollbar-thumb {background-color: #222; border-radius: 1.5px;}/*스크롤 드래그바*/
::-webkit-scrollbar-thumb:hover {background-color: #555;}

body, html {scroll-behavior: smooth;}

/* mouse 이동 */
#mouse {
    position: absolute;
    left: 0;
    top: 0;
    width: 100px;
    height: 100px;
    z-index: 300;
    border-radius: 50%;
    background-image: url(../images/back_sea.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    border: 2px solid #fff;
}

header {}
header .header_wrap {
    width: 100vw;
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    padding: 20px 100px;
    z-index: 900;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
}
header .header_wrap > span {
    font-weight: 600;
    font-size: 1rem;
    letter-spacing: -0.0625rem;
    color: #fff;
}
header .header_wrap > span:nth-last-child(1) {text-align: end;}
header .home {
    display: inline-block;
    background: url(../images/icon/ico_home_w.png) no-repeat center / cover;
    width: 20px; 
    height: 20px;
}
header .header_wrap nav {display: none;}
header .header_wrap nav .nav_t {transition:all 0.5s;}
header .header_wrap nav .nav_t > li {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
}
header .header_wrap nav .nav_t > li > a {
    position: relative;
    z-index: 999;
    width: 23px;
    height: 18px;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
}
header .header_wrap nav .nav_t > li > a span {
    border-radius: 0.5px;
    height: 1px;
    background-color: #fff;
    width: 100%;
}
header .header_wrap nav .nav_t > li .nav_open_wrap {
    position: fixed;
    z-index: 900;
    top: 0;
    left: 0;
    background-color: #222;
    background-size: cover;
    width: 100vw;
    height: 100vh;
    transition:all 0.5s;
    transform: translateY(-100%);
}
header .header_wrap nav .nav_t > li .nav_open_t {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    margin-left: 20px
}
header .header_wrap nav .nav_t li .nav_open_t li {margin-bottom: 40px;}
header .header_wrap nav .nav_t li .nav_open_t li:nth-last-child(1) {margin-bottom: 0;}
header .header_wrap nav .nav_t li .nav_open_t li > a {
    position: relative;
    transition: all 0.5s;
}
header .header_wrap nav .nav_t li .nav_open_t li > a::after {
    content:''; display:block;
    width:100%; height:2px; background:#F18E64;
    position:absolute; bottom:-10px;
    transform:scaleX(0);
    transform-origin: 0;
    transition:all 0.5s;
}
header .header_wrap nav .nav_t li .nav_open_t li > a:hover::after {
    transform:scaleX(1);
}
header .header_wrap nav .nav_t li .nav_open_t li > a span {
    animation: opacity_fix 1s ease forwards;
    animation-delay: 1s;
    opacity: 0;
    font-size: 1.5rem;
    font-weight: 600;
    letter-spacing: -0.0625rem;
    color: #fff;
}
header .header_wrap nav .nav_t li .nav_open_t li > a:hover span {color: #F18E64;}