main {}

/* nav */
main nav {
    position: fixed;
    top: 50%;
    left: 50px;
    transform: translateY(-50%);
    z-index: 900;
}
main nav .nav {transition:all 0.5s;}
main nav .nav li {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
}
main nav .nav > li > a {
    margin-right: 30px;
    width: 23px;
    height: 18px;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    align-items: flex-start;
}
main nav .nav > li > a span {
    border-radius: 0.5px;
    height: 1px;
    background-color: #fff;
}
main nav .nav li > a span:nth-child(1) {width: 100%;}
main nav .nav li > a span:nth-child(2) {width: 80%;}
main nav .nav li > a span:nth-child(3) {width: 100%;}

main nav .nav li .nav_open {
    opacity: 0;
    transform: translateX(-50%);
    flex-flow: column nowrap;
    transition:all 0.5s;
}
main nav .nav:hover li .nav_open {
    opacity: 1;
    transform: translateX(0%);
}
main nav .nav li .nav_open li {
    margin-bottom: 30px;
}
main nav .nav li .nav_open li:nth-last-child(1) {margin-bottom: 0;}
main nav .nav li .nav_open li > a {
    position: relative;
    transition: all 0.5s;
}
main nav .nav li .nav_open li a::after {
    content:''; display:block;
    width:100%; height:2px; background:#F18E64;
    position:absolute; bottom:-10px;
    transform:scaleX(0);
    transform-origin: 0;
    transition:all 0.5s;
}
main nav .nav li .nav_open li a:hover::after {
    transform:scaleX(1);
}
main nav .nav li .nav_open li a span {
    font-size: 1.25rem;
    font-weight: 600;
    letter-spacing: -0.0625rem;
    color: #fff;
}
main nav .nav li .nav_open li a:hover span {color: #F18E64;}

/* section */
main section {position: relative;}

/* intro */
main .intro {
    width: 100vw;
    height: 100vh;
    position: relative;
    z-index: 200;
}
main .intro::after {
    content: '';
    display: block;
    position: absolute;
    left: 0; top: 0;
    width: 100%; height: 100%; z-index: 300;
    background-color: rgb(0, 0, 0, 0.3);
}
main .intro_wrap > h1, main .intro_wrap > p {
    font-family:'tit'; 
    font-weight: 600;
    letter-spacing: -0.1rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scaleX(1.1);
    z-index: 400;
    color: #fff;
    padding: 70px;
}
main .intro .intro_wrap > p {font-size: 7rem;}
main .intro .intro_wrap > p:nth-child(1) {
    animation: opacity 0.5s ease forwards;
    animation-delay: 1s;
}
main .intro .intro_wrap > p:nth-child(2) {
    opacity: 0;
    animation: opacity2 1s ease forwards;
    animation-delay: 1.5s;
}
main .intro .intro_wrap > h1 {
    font-size: 8rem;
    opacity: 0;
    animation: opacity_fix 1.5s ease forwards;
    animation-delay: 2.5s;
    transition: letter-spacing 0.5s 3s linear !important;
    letter-spacing: 1.1rem;
}
main .intro .bg-image img {
    position: fixed; inset: 0;
    width: 100%; height: 100%; object-fit: cover;
}

/* about */
main .about {
    background-color: #222;
    width: 100vw;
    height: 50vh;
    position: relative;
    z-index: 700;
}
main .about .about_wrap {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
}
main .about h2 {
    display: flex;
    flex-flow: row nowrap;
    align-items: flex-start;
}
main .about h2 em {
    font-size: 2.25rem;
    color: #fff;
    font-weight: 600;
    margin-bottom: 50px;
}
main .about h2 span {
    width: 7px;
    height: 7px;
    border-radius: 50%;
    background-color: #2050A4;
    margin-left: 3px;
}
main .about p {
    font-size: 1.25rem;
    line-height: 2.5rem;
    color: #fff;
    text-align: center;
}

/* web */
main .web {
    width: 100vw;
    height: 100vh;
    position: relative;
    z-index: 700;
}
main .web::after {
    content: '';
    display: block;
    position: absolute;
    left: 0; bottom: 0;
    width: 100%; height: 100%; z-index: 500;
    background-color: rgb(34, 34, 34, 0.8);
}
main .web .txt {
    position: absolute;
    z-index: 600;
}
main .web video {
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
    object-fit: cover;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

main .web .txt {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-flow: column nowrap;
    align-items:center;
}
main .web .txt .tit {
    display: flex;
    flex-flow: column nowrap;
    align-items:center;
    margin-bottom: 50px;
}
main .web .txt .tit h3 {
    font-weight: 700;
    font-size: 2.25rem;
    letter-spacing: -0.05rem;
    color: #fff;
    margin-bottom: 20px;
    transform-origin: right;
    white-space: nowrap;
}
main .web .txt .tit .desc {
    display: flex;
    flex-flow: row nowrap;
}
main .web .txt .tit .desc p {
    color: rgb(255, 255, 255, 0.8);
    margin-right: 20px;
    font-size: 1.25rem;
    width: 100%;
    white-space: nowrap;
}
main .web .txt .tit .desc .tag {
    display: flex;
    flex-flow: row nowrap;
}
main .web .txt .tit .desc .tag span {
    color: rgb(255, 255, 255, 0.8);
    margin-right: 7px;
    font-size: 1.25rem;
}
main .web .txt .tit .desc .tag span:nth-last-child(1) {margin-right: 0;}
main .web .txt .project_btn {
    padding: 10px 10px 10px 15px;
    border: solid 1px #fff;
    border-radius: 5px;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    transition:all 0.5s;
    border: solid 1px #F18E64;
}
main .web .txt .project_btn em {
    color: #fff;
    font-weight: 600;
    font-size: 1.25rem;
    margin-right: 5px;
    transition:all 0.5s;
}
main .web .txt .project_btn:hover em {
    color: #F18E64;
}
main .web .txt .project_btn span {
    background: url(../images/icon/ico_arrow.png) no-repeat center / cover;
    width: 25px;
    height: 25px;
    transition:all 0.5s;
}
main .web .txt .project_btn:hover span {
    transform: rotate(-45deg);
    background: url(../images/icon/ico_arrow_o.png) no-repeat center / cover;
}

main #design {
    background-color: #222;
    background-size: cover;
    width: 100vw;
    position: relative;
    z-index: 700;
}
.promo_wrap, .banner_wrap, .sns_wrap {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    position: relative;
}
.promo_wrap {padding: 100px 0 0;}
.banner_wrap {padding: 50px 0 0;}
.sns_wrap {padding: 50px 0 100px;}
main #promo h2, main #banner h2, main #sns h2 {
    display: flex;
    flex-flow: row nowrap;
    align-items: flex-start;
    margin: 0 0 50px 10px;
}
main #promo h2 em, main #banner h2 em, main #sns h2 em {
    font-size: 2.25rem;
    color: #fff;
    font-weight: 600;
}
main #promo h2 span, main #banner h2 span, main #sns h2 span {
    width: 7px;
    height: 7px;
    border-radius: 50%;
    background-color: #2050A4;
    margin-left: 3px;
}

/* 공통 section */
main .section .contents_wrap {}
main .section .contents_wrap ul {
    display: flex;
    flex-flow: row wrap;
    width: 970px;
    align-items: center;
}
main .section .contents_wrap ul li {margin: 0 35px 50px 0;}
main .section .contents_wrap ul li:nth-child(3n) {margin-right: 0;}
main .section .contents_wrap ul li a {}
main .section .contents_wrap ul li a > p {
    width: 300px;
    height: 300px;
    border-radius: 20px;
    margin-bottom: 30px;
    background-color: lightcoral;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% auto;
    transition: all 0.3s;
}
main .section .contents_wrap ul li a > p:hover {background-size: 110% auto;}
main .section .contents_wrap ul li a .txt {}
main .section .contents_wrap ul li a .txt .tit {
    color: #fff;
    font-weight: 600;
    font-size: 1.5rem;
    margin-bottom: 15px;
}
main .section .contents_wrap ul li a .txt .desc {
    display: flex;
    flex-flow: row nowrap;
}
main .section .contents_wrap ul li a .txt .desc em {
    color: rgb(255, 255, 255, 0.5);
    margin-right: 10px;
    font-size: 1.15rem;
}
main .section .contents_wrap ul li a .txt .desc span {
    color: rgb(255, 255, 255, 0.5);
    font-size: 1.15rem;
}

/* promo img 썸네일 이미지*/
main #promo .contents_wrap ul li:nth-child(1) a > p {background-image: url(../images/thumb_korea.jpg);}
main #promo .contents_wrap ul li:nth-child(2) a > p {background-image: url(../images/thumb_starbucks.jpg);}
main #promo .contents_wrap ul li:nth-child(3) a > p {background-image: url(../images/thumb_diary.jpg);}
main #promo .contents_wrap ul li:nth-child(4) a > p {background-image: url(../images/thumb_brand.jpg);}
main #promo .contents_wrap ul li:nth-child(5) a > p {background-image: url(../images/thumb_attendance.jpg);}

/* banner img */
main #banner .contents_wrap ul li:nth-child(1) a > p {background-image: url(../images/thumb_denim.jpg);}
main #banner .contents_wrap ul li:nth-child(2) a > p {background-image: url();}
main #banner .contents_wrap ul li:nth-child(3) a > p {background-image: url(../images/thumb_red.jpg);}

/* sns img */
main #sns .contents_wrap ul li:nth-child(1) a > p {background-image: url(../images/thumb_tteokbokki.jpg);}
main #sns .contents_wrap ul li:nth-child(2) a > p {background-image: url(../images/thumb_walker.jpg);}
main #sns .contents_wrap ul li:nth-child(3) a > p {background-image: url(../images/thumb_romand.jpg);}

main .outro {
    width: 100vw;
    height: 50vh;
    position: relative;
    z-index: 700;
}
main .outro::after {
    content: '';
    display: block;
    position: absolute;
    left: 0; top: 0;
    width: 100vw; height: 50vh; z-index: 300;
    background-color: rgb(0, 0, 0, 0.3);
}
main .outro .outro_wrap .outro_txt {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    z-index: 500;
}
main .outro .outro_wrap .outro_txt h2 {
    display: flex;
    flex-flow: row nowrap;
    align-items: flex-start;
}
main .outro .outro_wrap .outro_txt h2 em {
    font-size: 2.25rem;
    font-weight: 600;
    margin-bottom: 50px;
    color: #fff;
}
main .outro .outro_wrap .outro_txt h2 span {
    width: 7px;
    height: 7px;
    border-radius: 50%;
    background-color: #2050A4;
    margin-left: 3px;
}
main .outro .outro_wrap .outro_txt p {
    font-size: 1.25rem;
    line-height: 2.5rem;
    color: #fff;
    text-align: center;
}
main .outro .outro_wrap .bg-image img {
    position: absolute; inset: 0;
    width: 100%; height: 100%; object-fit: cover;
}