@media screen and (max-width:1350px){
    header .home {display: none;}
    main nav {display: none;}
    header .header_wrap nav {display: inline-block;}
    #mouse {display: none; cursor: none;}
}
@media screen and (max-width:1000px){
    main .section .list .swiper-scrollbar {width: 90%; left: 5%;}
}
@media screen and (max-width:935px){
    header .header_wrap{padding: 20px 30px;}
    main .section .list {width: 100%;}
    main .section .list .swiper-scrollbar {width: 80%; left: 10%;}
    main .section .list .contents .swiper-slide a {padding: 40px 40px;}
}
@media screen and (max-width:900px){
    main .section .list .contents .swiper-slide a > p {width: 340px; height: 340px;}
}
@media screen and (max-width:870px){
    main .intro .intro_wrap > p {font-size: 6em;}
    main .intro .intro_wrap > h1 {font-size: 7em;}
    main .section .list .contents .swiper-slide a > p {width: 330px; height: 330px;}
}
@media screen and (max-width:850px){
    main .section .list .contents .swiper-slide a > p {width: 320px; height: 320px;}
}
@media screen and (max-width:830px){
    main .section .list .contents .swiper-slide a > p {width: 310px; height: 310px;}
}
@media screen and (max-width:810px){
    main .section .list .contents .swiper-slide a > p {width: 300px; height: 300px;}
}
@media screen and (max-width:790px){
    main .intro .intro_wrap > p {font-size: 5.5rem;}
    main .intro .intro_wrap > h1 {font-size: 6.5rem;}
    main .web .txt .tit {margin-bottom: 40px;}
    main .web .txt .tit h3 {font-size: 2rem; margin-bottom: 15px;}
    main .web .txt .tit .desc p {margin-right: 10px;}
    main .web .txt .tit .desc .tag span {margin-right: 5px;}
    main .web .txt .tit .desc p,
    main .web .txt .tit .desc .tag span,
    main .web .txt .project_btn em {font-size: 1rem;}
    main .web .txt .project_btn {padding: 8px 8px 8px 12px;}
    main .web .txt .project_btn span {width: 18px; height:  18px;}
    main .about h2 em {font-size: 2rem; margin-bottom: 30px;}
    main .about p {font-size: 1rem; line-height: 2.2rem;}
    main .section .contents_wrap .list .contents .swiper-slide a .txt .tit {font-size: 1.5rem; margin-bottom: 10px;}
    main .section .contents_wrap .list .contents .swiper-slide a .txt .desc em {margin-right: 7px;}
    main .section .contents_wrap .list .contents .swiper-slide a .txt .desc em,
    main .section .contents_wrap .list .contents .swiper-slide a .txt .desc span {font-size: 1.1rem;}
    main .section .list .contents .swiper-slide a > p {width: 290px; height: 290px;}
    main #design > p span {font-size: 1.1rem;}
}
@media screen and (max-width:770px){
    main .section .list .contents .swiper-slide a > p {width: 280px; height: 280px;}
}
@media screen and (max-width:760px){
    main .section .list .contents .swiper-slide a > p {width: 270px; height: 270px;}
}
@media screen and (max-width:750px){
    main .section .list .contents .swiper-slide a > p {width: 260px; height: 260px;}
}
@media screen and (max-width:720px){
    main .intro .intro_wrap > h1 {letter-spacing: 1rem;}
    main .intro_wrap > h1, main .intro_wrap > p {padding: 30px;}
}
@media screen and (max-width:700px){
    main .section .list .contents .swiper-slide a  {padding: 37px 37px;}
    main .section .list .contents .swiper-slide a > p {width: 250px; height: 250px;}
}
@media screen and (max-width:670px){
    main .intro .intro_wrap > p {font-size: 4.5rem;}
    main .intro .intro_wrap > h1 {font-size: 5.5rem; letter-spacing: 0.9rem;}
    br{display: none;}
    main .section .list .contents .swiper-slide a > p {width: 240px; height: 240px;}
}
@media screen and (max-width:650px){
    main .section .list .contents .swiper-slide a  {padding: 35px 35px;}
    main .section .list .contents .swiper-slide a > p {width: 230px; height: 230px;}
}
@media screen and (max-width:620px){
    main .section .list .contents .swiper-slide a  {padding: 33px 33px;}
    main .section .list .contents .swiper-slide a > p {width: 220px; height: 220px; margin-top: 20px;}
    main .section .contents_wrap .list .contents .swiper-slide a .txt .tit {font-size: 1.25rem; margin-bottom: 7px;}
    main .section .contents_wrap .list .contents .swiper-slide a .txt .desc em {margin-right: 5px;}
    main .section .contents_wrap .list .contents .swiper-slide a .txt .desc em,
    main .section .contents_wrap .list .contents .swiper-slide a .txt .desc span {font-size: 1rem;}
    main #design > p span {font-size: 1rem;}
}
@media screen and (max-width:590px){
    main .about .about_wrap {padding: 0 50px;}
    main .intro .intro_wrap > p {font-size: 4.3rem;}
    main .intro .intro_wrap > h1 {font-size: 5.3rem; letter-spacing: 0.5rem;}
    main .section .list .contents .swiper-slide a  {padding: 30px 30px;}
    main .section .list .contents .swiper-slide a > p {width: 210px; height: 210px;}
}
@media screen and (max-width:560px){
    main .section .list .contents .swiper-slide a  {padding: 28px 28px;}
    main .section .list .contents .swiper-slide a > p {width: 200px; height: 200px;}
}
@media screen and (max-width:540px){
    header .header_wrap{padding: 20px;}
    main .intro_wrap > h1, main .intro_wrap > p {padding: 20px;}
}
@media screen and (max-width:530px){
    main .section .contents_wrap .list .contents .swiper-slide a .txt .tit {font-size: 1.5rem; margin-bottom: 10px;}
    main .section .contents_wrap .list .contents .swiper-slide a .txt .desc em {margin-right: 7px;}
    main .section .contents_wrap .list .contents .swiper-slide a .txt .desc em,
    main .section .contents_wrap .list .contents .swiper-slide a .txt .desc span {font-size: 1.1rem;}
    main .section .list .contents .swiper-slide a  {padding: 40px 40px;}
    main .section .list .contents .swiper-slide a > p {width: 250px; height: 250px;}
}
@media screen and (max-width:510px){
    main .section .list .contents .swiper-slide a  {padding: 35px 35px;}
}
@media screen and (max-width:500px){
    main .section .list .contents .swiper-slide a > p {width: 240px; height: 240px;}
}
@media screen and (max-width:490px){
    main .about .about_wrap {padding: 0 30px;}
}
@media screen and (max-width:480px){
    main .section .list .contents .swiper-slide a > p {width: 230px; height: 230px;}
}
@media screen and (max-width:470px){
    main .intro .intro_wrap > p {font-size: 3.8rem;}
    main .intro .intro_wrap > h1 {font-size: 4.8rem;}
}
@media screen and (max-width:460px){
    main .about .about_wrap {padding: 0 20px;}
    main .section .list .contents .swiper-slide a  {padding: 33px 33px;}
    main .section .list .contents .swiper-slide a > p {width: 225px; height: 225px;}
}
@media screen and (max-width:450px){
    main .intro .intro_wrap > p {font-size: 3.5rem;}
    main .intro .intro_wrap > h1 {font-size: 4.5rem; letter-spacing: 0.4rem;}
    main .section .list .contents .swiper-slide a  {padding: 30px 30px;}
    main .section .list .contents .swiper-slide a > p {width: 220px; height: 220px; margin-top: 20px;}
    main .section .contents_wrap .list .contents .swiper-slide a .txt .tit {font-size: 1.25rem; margin-bottom: 10px;}
    main .section .contents_wrap .list .contents .swiper-slide a .txt .desc em {margin-right: 7px;}
    main .section .contents_wrap .list .contents .swiper-slide a .txt .desc em,
    main .section .contents_wrap .list .contents .swiper-slide a .txt .desc span {font-size: 1rem;}
}
@media screen and (max-width:430px){
    main .section .list .contents .swiper-slide a  {padding: 27px 27px;}
    main .section .list .contents .swiper-slide a > p {width: 210px; height: 210px;}
}
@media screen and (max-width:410px){
    main .intro .intro_wrap > p {font-size: 3rem;}
    main .intro .intro_wrap > h1 {font-size: 4rem; letter-spacing: 0.3rem;}
    main .section .list .contents .swiper-slide a  {padding: 23px 23px;}
    main .section .list .contents .swiper-slide a > p {width: 205px; height: 205px;}
}
@media screen and (max-width:390px){
    main .section .list .contents .swiper-slide a > p {width: 195px; height: 195px;}
    main .section .contents_wrap .list .contents .swiper-slide a .txt .tit {font-size: 1.15rem; margin-bottom: 8px;}
    main .section .contents_wrap .list .contents .swiper-slide a .txt .desc em {margin-right: 5px;}
    main .section .contents_wrap .list .contents .swiper-slide a .txt .desc em,
    main .section .contents_wrap .list .contents .swiper-slide a .txt .desc span {font-size: 0.9rem;}
    main #design > p span {font-size: 0.9rem;}
}
@media screen and (max-width:385px){
    main .section .list .contents .swiper-slide a > p {width: 190px; height: 190px;}
}