@media screen and (max-width:1330px){
    main .section .contents ul {
        display: flex;
        flex-flow: row wrap;
        width: 725px;
        align-items: center;
    }
    main .section .contents ul li {margin: 0 25px 40px 0;}
    main .section .contents ul li:nth-child(3n) {margin-right: 25px;}
    main .section .contents ul li:nth-child(2n) {margin-right: 0;}
    main .section .contents ul li a > p {
        width: 350px;
        height: 350px;
    }
}
@media screen and (max-width:1180px){
    header .home {display: none;}
    main nav {display: none;}
    header .header_wrap nav {display: inline-block;}
    #mouse {display: none; cursor: none;}
}
@media screen and (max-width:900px){
    header .header_wrap{padding: 20px 30px;}
    main .about .about_wrap {padding: 0 150px;}
}
@media screen and (max-width:870px){
    main .section .contents ul {width: 565px;}
    main .section .contents ul li a > p {width: 270px; height: 270px; margin-bottom: 20px;}
    main .intro .intro_wrap > p {font-size: 4rem;}
    main .intro .intro_wrap > h1 {font-size: 5rem;}
}
@media screen and (max-width:790px){
    main .intro .intro_wrap > p {font-size: 3rem;}
    main .intro .intro_wrap > h1 {font-size: 4rem;}
    main .web .txt .tit h3 {font-size: 2rem;}
    main .web .txt .tit .desc p {margin-right: 10px;}
    main .web .txt .tit .desc .tag span {margin-right: 5px;}
    main .web .txt .tit .desc p,
    main .web .txt .tit .desc .tag span,
    main .web .txt .project_btn em {font-size: 1rem;}
    main .web .txt .project_btn {padding: 7px 7px 7px 10px;}
    main .web .txt .project_btn span {width: 18px; height:  18px;}
    main .about h2 em {font-size: 2rem; margin-bottom: 30px;}
    main .about p {font-size: 1rem; line-height: 2.2rem;}
    main .section .contents ul li a .txt .tit {font-size: 1.25rem;}
    main .section .contents ul li a .txt .desc em {margin-right: 7px;}
    main .section .contents ul li a .txt .desc em,
    main .section .contents ul li a .txt .desc span {font-size: 1rem;}
    main .outro .outro_wrap h2 em {font-size: 2rem; margin-bottom: 30px;}
    main .outro .outro_wrap p {font-size: 1rem; line-height: 2.2rem;}
}
@media screen and (max-width:720px){
    main .intro .intro_wrap > h1 {letter-spacing: 0.5rem;}
    main .intro_wrap > h1, main .intro_wrap > p {padding: 30px;}
    main .about .about_wrap {padding: 0 100px;}
}
@media screen and (max-width:620px){
    main .section .contents ul {width: 100%; justify-content: space-between; padding: 0 30px;}
    main .section .contents ul li:nth-child(3n) {margin-right: 0;}
    main .section .contents ul li {margin: 0 0 40px 0;}
    main .section .contents ul li a > p {width: 265px; height: 265px;}
}
@media screen and (max-width:610px){
    main .section .contents ul li a > p {width: 260px; height: 260px;}
}
@media screen and (max-width:600px){
    main .section .contents ul li a > p {width: 255px; height: 255px;}
}
@media screen and (max-width:590px){
    main .section .contents ul li a > p {width: 250px; height: 250px;}
}
@media screen and (max-width:575px){
    main .section .contents ul li a > p {width: 245px; height: 245px;}
}
@media screen and (max-width:565px){
    main .section .contents ul li a > p {width: 240px; height: 240px;}
}
@media screen and (max-width:555px){
    main .section .contents ul li a > p {width: 235px; height: 235px;}
}
@media screen and (max-width:540px){
    header .header_wrap{padding: 20px;}
    main .intro_wrap > h1, main .intro_wrap > p {padding: 20px;}
    main .about .about_wrap {padding: 0 50px;}
    main .section .contents ul {padding: 0 20px;}
    main .section .contents ul li a > p {width: 240px; height: 240px;}
}
@media screen and (max-width:530px){
    main .section .contents ul li a > p {width: 235px; height: 235px;}
}
@media screen and (max-width:520px){
    main .section .contents ul li a > p {width: 230px; height: 230px;}
}
@media screen and (max-width:510px){
    main .section .contents ul li a > p {width: 225px; height: 225px; margin-bottom: 15px;}
    main .section .contents ul li a .txt .tit {font-size: 1.1rem; margin-bottom: 8px;}
    main .section .contents ul li a .txt .desc em {margin-right: 5px;}
    main .section .contents ul li a .txt .desc em,
    main .section .contents ul li a .txt .desc span {font-size: 0.85rem;}
}
@media screen and (max-width:500px){
    main .section .contents ul li a > p {width: 220px; height: 220px;}
}
@media screen and (max-width:490px){
    main .section .contents ul li a > p {width: 215px; height: 215px;}
}
@media screen and (max-width:480px){
    main .section .contents ul li a > p {width: 210px; height: 210px;}
}
@media screen and (max-width:470px){
    main .section .contents ul li a > p {width: 205px; height: 205px;}
}
@media screen and (max-width:460px){
    main .section .contents ul li a > p {width: 200px; height: 200px;}
    main .about .about_wrap {padding: 0 20px;}
}
@media screen and (max-width:450px){
    main .section .contents ul li a > p {width: 195px; height: 195px;}
    main .intro .intro_wrap > p {font-size: 3rem;}
    main .intro .intro_wrap > h1 {font-size: 3.7rem; letter-spacing: 0.3rem;}
}
@media screen and (max-width:440px){
    main .section .contents ul li a > p {width: 190px; height: 190px;}
}
@media screen and (max-width:430px){
    main .section .contents ul li a > p {width: 185px; height: 185px;}
}
@media screen and (max-width:420px){
    main .section .contents ul li a > p {width: 180px; height: 180px;}
}
@media screen and (max-width:410px){
    main .section .contents ul li a > p {width: 175px; height: 175px;}
    main .intro .intro_wrap > p {font-size: 2.5rem;}
    main .intro .intro_wrap > h1 {font-size: 3.2rem; letter-spacing: 0.3rem;}
}
@media screen and (max-width:400px){
    main .section .contents ul li a > p {width: 170px; height: 170px;}
}
@media screen and (max-width:390px){
    main .section .contents ul li a > p {width: 165px; height: 165px;}
}
@media screen and (max-width:380px){
    main .section .contents ul li a > p {width: 160px; height: 160px;}
}
@media screen and (max-width:370px){
    main .section .contents ul li a > p {width: 155px; height: 155px;}
}
@media screen and (max-width:360px){
    main .section .contents ul li a > p {width: 150px; height: 150px;}
}